li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }

  #maxCostSlider {
    margin-left: 20px;
    margin-right: 20px;
}

.inputItem {
  padding-left: 2px;
  padding-right: 2px;
}